@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Master Mind</h1>
    <a class="btn-primary mt-5" asp-action="Index" asp-controller="Game"> Start Game </a>
</div>
